:root {
    --front-colors: rgb(98,109,113);
    --background-colors: rgb(221,188,149);
    --highlight-colors: rgb(179,136,103);
    --accent-colors: rgb(205,205,192);
    --accent-highlight-colors: rgb(244,237,225);
}

header{
    background-color: var(--highlight-colors);
    padding: 1em;
    text-align: center;
}
div#holder{
    width: 70vw;
    margin:0;
    margin:auto;
    background-color: var(--background-colors);
    height: 100vh;
    overflow: scroll;
}
div.container{
    padding:1em;
}
div#index-div{
    display: flex;
    width: 80vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
div#beside-me{
    background-color: var(--background-colors);
    padding:2em;
    height: fit-content;
}
div#beside-me h2{
    text-align: center;
}
div#beside-me p{
    padding:1em;
}
div#beside-me div{
    width: fit-content;
    margin:auto;
    
}
li{
    transition:3s;
    background-color: var(--highlight-colors);
    border:.1em black solid;
    padding: 1em;
    margin: .5em;
    list-style: none;
    text-align: center;
    border-radius: 1em;
}
li:hover{
    transition:1s;
    background-color: var(--accent-highlight-colors);
}
a.internal{
    text-decoration: none;
    color: black;
}
body{
    font-size:2em;
    background-image:url(libry.jpg);
    background-size: 100vw;
    margin:0;
}
*{
    box-sizing: border-box;
}
footer{
    position:absolute;
    background-color:var(--accent-colors);
    width: 70vw;
    bottom:0px;
    padding:.5em;
    font-size: .5em;
}
@media screen and (max-width:1000px) {
    div#holder{
        width: 100vw;
    }
    div#index-div{
        display:inline-block;
    }
    body{
        font-size:1em;
    }
}