header{
    background-color: beige;
    padding: 1em;
}
div#holder{
    width: 70vw;
    margin:0;
    margin:auto;
    background-color: bisque;
    height: 100vh;
    overflow: scroll;
}
div.container{
    padding:1em;
}
li{
    list-style: none;
    text-align: center;
}
body{
    font-size:2em;
    background-image:url(libry.jpg);
    background-size: 100vw;
    margin:0;
}
*{
    box-sizing: border-box;
}
footer{
    position:absolute;
    background-color:navajowhite;
    width: 70vw;
    bottom:0px;
    padding:.5em;
    font-size: .5em;
}
@media screen and (max-width:1000px) {
    div#holder{
        width: 100vw;
    }
    body{
        font-size:1em;
    }
}