header{
    background-color: beige;
    padding: 1em;
}
div#holder{
    width: 70vw;
    margin:0;
    margin:auto;

    background-color: bisque;
    height: 100vh;
    overflow: scroll;
}
div.container{
    padding:1em;
}
li{
    list-style: none;
}
body{
    font-size:2em;
    background-color: aliceblue;
    margin:0;
}
*{
    box-sizing: border-box;
}
@media screen and (max-width: 800px) {
    div#holder{
        width: 100vw;
    }
    body{
        font-size:1em;
    }
}